#ignore file
#
#

# osx n0ize
.DS_Store
profile

#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#windows n0ize
*~
Thumbs.db

# old skool
.svn

#other
build/
bin/
gen/
local.properties
.settings/
.project
*.classpath

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#IntelliJ
out/
.idea/
*.iml

#Other
.DS_Store
tmp
